body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background-color: #2c5d93;
    color: white;
}

th, td {
    padding: 10px 15px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f0f0f0;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

table, th, td {
    border: 1px solid #ccc;
}

th {
    text-transform: uppercase;
}

